@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

body{
    background-color: #222;
    font-family: 'Prompt', sans-serif;
    color: #FFF;
}
